{% extends 'base.html.twig' %}

{% block title %}Connexion au site
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
                <div class="bg-light px-3 py-3">
                    <h1 class="my-2 text-center" >Connectez vous</h1>

                    {% if hasError %}
                        <div class="alert alert-danger">
                            Email ou mot de passe incorrect
                        </div>
                    {% endif %}

                    <form action="{{ path('account_login') }}" method="POST">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" value="{{ username }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success mr-2">Connexion</button>
                            <a href="{{ path('account_register') }}" class="small">Je n'ai pas encore de compte</a>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>

{% endblock %}
